<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index::head}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:replace="~{index::header}"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Brand</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manager Brand</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div th:if="${message !=null }" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Brand Id</th>
                <th>Brand Image</th>
                <th>Brand Name</th>
                <th>Enabled</th>
                <th colspan="2">
                    <a th:href="@{/brand_create}">
                        <button type="button" value="" class="btn btn-block btn-success">Create New Brand</button>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category:${listCategories}">
                <td>[[${brand.id}]]</td>
                <td>[[${brand.image}]]</td>
                <td>[[${brand.name}]]</td>
                <td>
                    <a th:if="${brand.enabled}" class="fas fa-check-circle fa-2x " style="color: green;"></a>
                    <a th:if="${!brand.enabled}" class="fas fa-check-circle fa-2x " style="color: darkgrey;"></a>
                </td>

                <!--
                <td>
                    <a th:if="${user.enabled}" class="fas fa-check-circle fa-2x " style="color: green;"></a>
                    <a th:if="${!user.enabled}" class="fas fa-check-circle fa-2x " style="color: darkgrey;"></a>
                </td>
                -->
                <td>
                    <a th:href="@{/category_edit_+{id}}" type="button" class="btn btn-block btn-danger btn-lg">Edit</a>
                </td>
                <td>
                    <a th:href="@{'/category_delete/'+${category.id}}" type="button" class="btn btn-block btn-warning btn-lg">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="~{index::script}"></div>
</body>
</html>
