<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index::head}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:replace="~{index::header}"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manager users</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div th:if="${errorMessage}" class="alert alert-success text-center">
                            [[${errorMessage}]]
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">Manage Category || <small>[[${pageTitle}]]</small></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="row justify-content-center">
                            <div class="col-md-6 card card-primary">
                                <!-- form start -->
                                <form th:href="@{category/save}" method="post" th:object="${category}">
                                    <input type="hidden"/>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Category name</label>
                                            <input th:field="*{name}" type="text" class="form-control"
                                                   placeholder="Enter Category Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Alias</label>
                                            <input th:field="*{alias}" type="text"
                                                   class="form-control"
                                                   placeholder="Enter Alias">
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="terms"
                                                       class="custom-control-input" id="exampleCheck1">
                                                <label class="custom-control-label" for="exampleCheck1">Enabled</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Parent Category :</label>
                                            <select th:field="*{parent}" class="form-control custom-select">
                                                <option value="0">Select one</option>
                                                <th:block th:each="cat : ${listCategories}">
                                                    <option th:value="${cat.id}">[[${cat.name}]]</option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Image:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" th:field="*{image}"/>
                                                <input type="file" id="fileImage" name="image"
                                                       accept="image/png, image/jpeg"
                                                       class="mb-2"/>
                                                <img id="thumbnail" alt="Photos preview"
                                                     th:src="@{/dist/img/default-user.png}" class="img-fluid"/>
                                            </div>
                                        </div>
                                        <div class="text-center" style="padding:30px">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="button" id="buttonCancel" class="btn btn-secondary">Cancel
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{index::script}"></div>
<script type="text/javascript">
    MAX_FILE_SIZE = 102400; // 100KB
    moduleURL = "[[@{/categories}]]";
</script>
<script th:src="@{dist/js/common_form.js}"></script>

</body>
</html>